body {
  font-family: /* Futura, */ "Trebuchet MS", Arial, sans-serif;
  margin: auto;
  padding: 1%;
  max-width: 640px;
}

h1 {margin-bottom: 2px;}
h1, h2 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h3 {
  display: inline;
  margin-right: 8px;
}

a {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  text-decoration: none;
}
a:hover {border-bottom: 1px solid;}

.no-break {white-space: nowrap;}
.inline-list {margin-left: 12px;}

section.main {
  margin-top: 32px;
}

p {
  margin-bottom: 24px;
}

iframe {
  margin-top: 16px;
}

