/* Spacing {{{ */

body {
  margin: auto;
  padding: 1em 2%;
  max-width: 40em;
}

/* Reset */
h1, h2, p { margin: 0; }

section { margin-top: 2em; }
article { margin-top: 1.2em; }

iframe { margin-top: 0.5em; }
/* }}} */

/* Styling {{{ */

body   { font-family: /* Futura, */ "Trebuchet MS", Arial, sans-serif; }
h1, h2 { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }
a      { font-family: Futura, "Trebuchet MS", Arial, sans-serif; }

h1 { font-size: 1.8em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.1em; }

h1 { letter-spacing: 0.04em; }
h3 {
  display: inline;
  margin-right: 0.5em;
}

a { text-decoration: none; }
a:hover { border-bottom: 1px solid; }
/* }}} */

/* Custom Classes {{{ */

.no-break { white-space: nowrap; }
.inline-list { margin-left: 0.8em; }
/* }}} */

@media (max-width: 24em) {
  h1 { font-size: 1.6em; }
  h2 { font-size: 1.4em; }
}
